.content-container {
  flex: 1;
  width: calc(100% - 380px);
}

.no-list {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.69rem;
  flex: 1;
}

.no-list-notice {
@include text(2xl);
font-weight: 500;
color: $gray02;
}