.notification-container {
  width: 328px;
  background-color: #fff;
  padding: 1.6rem 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  border-radius: 0.5rem;

  
}

.status-container {
  @include flex-between;
}

.status {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.status.text-notice-blue {
  background-color: $blue01;
}

.status.text-notice-red {
  background-color: $red01;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.content {
  @include text(md);
}

.time-text {
  @include text(xs);
  color: $gray04;
}

.notifications-container {
  border-radius: 1rem;
  padding: 2.4rem 2rem;
  background-color: $green03;
  position: absolute;
  right: 50px;
  top: 100px;
}

.conunt-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.6rem;
}

.count {
  @include text(xl);
  font-weight: 700;
}

.notification-wrap {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
