.react-datepicker__triangle {
  display: none;
}

.react-datepicker {
  // 달력 전체
  border: none;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);

  .react-datepicker__navigation {
    // 월변경 하는 화살표
    top: 5px;
  }

  .react-datepicker__header, // 헤더
    .react-datepicker__month-container {
    // 달력 전체
    background: white;
    @include text(sm);
  }

  .react-datepicker__navigation-icon::before {
    // 월변경 하는 화살표
    border-color: $gray06;
  }

  .react-datepicker__header {
    padding: 12px 0 0 0;

    .react-datepicker__current-month {
      // 달력에 표기되는 년도 월
      font-size: 12px;
    }

    .react-datepicker__day-names {
      // 요일을 감싸고 있는 div 태그
      margin-bottom: 0;
      padding-top: 12px;
    }
  }
  .react-datepicker__current-month,
  .react-datepicker__day-names > div,
  .react-datepicker__day {
    // 날짜
    color: $gray03;
    padding: 1rem;
    width: auto;
  }

  .react-datepicker__day--disabled {
    // 선택이 안된 날짜
    color: #838383;
  }

  .react-datepicker__day--today {
    // 오늘 날짜
    color: #e21700;
  }

  .react-datepicker__day--selected,
  .react-datepicker__day--in-range,
  .react-datepicker__day:hover:not(.react-datepicker__day--disabled) {
    //선택된 날짜
    background-color: #fa935f;
  }

  .react-datepicker__day--in-range:not(.react-datepicker__day--in-selecting-range) {
    // 선택된 날자 변경시
    background-color: rgba(33, 107, 165, 0.5);
  }
}
