.item-container {
  display: flex;
  background-color: #fff;
  height: 204px;
  border-radius: 2.4rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  margin-bottom: 2.4rem;

  @include tablet {
    height: 156px;
  }

  @include mobile {
    height: 128px;
  }
}

.img-container {
  flex-shrink: 1;
}

.img {
  border-radius: 2.4rem 0 0 2.4rem;

  @include tablet {
    width: 156px;
    height: 156px;
  }

  @include mobile {
    width: 128px;
    height: 128px;
  }
}