.userTabContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  min-width: 350px;
  border: 1px solid $gray07;
  border-radius: 1rem;
  padding: 3rem 2rem;
  background-color: white;
  box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
  @include tablet {
    min-width: 250px;
    @include mobile {
      display: none;
    }
  }
}
