@mixin buttonStyles($font-size, $padding) {
  font-size: $font-size;
  padding: $padding;
}

.formButton {
  font-weight: bold;
  border: none;
  border-radius: 6px;
  transition: background-color 0.3s;
  background-color: #f89a05;
  color: white;
  cursor: pointer;

  &.small {
    @include buttonStyles(14px, 9px 20px);
  }

  &.medium {
    @include buttonStyles(16px, 12px 33px);
  }

  &.large {
    @include buttonStyles(16px, 12px 33px);
    width: 100%;
  }

  &.emptyButton {
    border: 1px solid #f89a05;
    background-color: #ffffff;
    color: #f89a05;
  }

  &:disabled {
    background-color: #a4a1aa;
    color: white;
    cursor: not-allowed;
  }
}
