.userTabContainer {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  min-width: 350px;
  border: 1px solid $gray06;
  border-radius: 1rem;
  padding: 3rem 2rem;
  background-color: white;
  box-shadow: 0 0 16px $gray07;
  @include tablet {
    min-width: 250px;
    @include mobile {
      display: none;
    }
  }
}
