.activityForm {
  flex: 1;

  .activityFormHeader {
    @include flex-between;
    margin-bottom: 3rem;

    h2 {
      @include text(3xl);
      font-weight: 700;
      @include mobile {
        @include text(2xl);
      }
    }
  }

  .activityFormBody {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .requiredText {
      text-align: right;
      @include text(md);
      @include mobile {
        @include text(sm);
      }

      .required {
        color: $red01;
      }
    }

    input[type="date"] {
      background: white url("../../../../public/icons/btn_calendar.svg") no-repeat right 20px center;
      background-size: 16px;
      @include mobile {
        background-image: none;
      }

      &::-webkit-calendar-picker-indicator,
      &::-webkit-inner-spin-button {
        opacity: 0;
        appearance: none;
      }
    }

    input[type="time"] {
      @include mobile {
        &::-webkit-calendar-picker-indicator,
        &::-webkit-inner-spin-button {
          opacity: 0;
          appearance: none;
        }
      }
    }
  }
}
