.item {
  position: relative;
}

.info {
  flex: 1;
  padding: 1.4rem 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 380px);
  @include tablet {
    padding: 1.2rem 1.8rem;
  }

  @include mobile {
    padding: 1.2rem 1rem;
  }
}

.rating-container {
  margin-bottom: 0.6rem;
}

.rating-box {
  display: flex;
  align-items: center;
}

.star {
  color: $yellow02;
  margin-right: 0.7rem;
}

.rating {
  @include text(lg);
}

.title {
  @include text(xl);
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @include tablet {
    @include text(2lg);
  }

  @include mobile {
    @include text(md);
  }
}

.price {
  @include text(2xl);
  font-weight: 500;

  @include tablet {
    @include text(xl);
  }

  @include mobile {
    @include text(lg);
  }
}

.per-head {
  @include text(lg);
  color: $gray01;
  margin-left: 1rem;
}

.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-container {
  position: absolute;
  right: 2.4rem;
  bottom: 2.1rem;
}