.allitem-section {
  position: relative;
  max-width: 1200px;
  margin: 100px auto 0 auto;
  @include mobile {
    margin-top: 50px;
  }
}

.title {
  color: $black01;
  font-weight: bold;
  @include text(4xl);
  @include tablet {
    padding: 0 24px;
  }
  @include mobile {
    padding: 0 16px;
    @include text(2lg);
  }
}
