.item-list {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 48px 24px;
  @include tablet {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px 16px;
  }
  @include mobile {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px 8px;
  }
  .item-box {
    img {
      height: 283px;
      border-radius: 20px;
      object-fit: cover;
      @include tablet {
        height: 221px;
      }
      @include mobile {
        height: 168px;
      }
    }

    .info {
      padding-top: 16px;

      * {
        color: $black01;
      }
      .rating {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        font-weight: 500;
        @include text(lg);
        .rating-icon {
          position: relative;
          display: inline-block;
          width: 17px;
          height: 17px;
        }
        > strong {
          color: $gray03;
          font-weight: 500;
        }
      }

      .title {
        padding-top: 10px;
        font-weight: 600;
        word-break: keep-all;
        @include text(2xl);
        @include mobile {
          @include text(2lg);
        }
      }

      .price {
        gap: 5px;
        padding-top: 15px;
        font-weight: 700;
        @include flex-start;
        @include text(2xl);
        @include tablet {
          font-size: 2.8rem;
        }
        @include mobile {
          @include text(xl);
        }

        > span {
          color: $gray01;
          font-weight: 400;
          @include text(xl);
          @include mobile {
            @include text(lg);
          }
        }
      }
    }
  }
}
.btn-more {
  margin-top: 50px;
  text-align: center;
}
