.form-link-container {
  margin-top: 3.2rem;
  text-align: center;
}

.form-link-title {
  @include text(lg);
  color: $black03;
  margin-right: 1rem;
}

.form-link {
  @include text(lg);
  color: $yellow01;
  text-decoration: underline;
}