.overlay {
  position: fixed;
  inset: 0px; //스크롤이 되고 있습니다!
  background-color: rgba(0, 0, 0, 0.05); //0.7이 너무 어두워서 수정했습니다! 
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 8px;
  border: 1px solid $gray06;
  padding: 28px;
  text-align: center;
}
