.header {
  position: relative;
  background-color: white;
  border-bottom: 1px solid $gray07;
  z-index: 20;
}

.headerContainer {
  position: relative;
  @include flex-between;
  height: 90px;
  @include mobile {
    height: 70px;
  }

  .logo {
    position: relative;
    display: block;
    width: 350px;
    height: 54px;
    object-fit: cover;
    @include mobile {
      width: 202px;
      height: 32px;
    }
  }

  .search {
    flex: 1;
    padding: 0 5rem;
    cursor: pointer;
    @include mobile {
      display: none;
    }
  }

  .userWrap {
    display: flex;
    align-items: center;
    font-weight: 500;

    .loginOn {
      display: flex;
      align-items: center;
      gap: 12px;
      position: relative;

      .userInfo {
        display: flex;
        align-items: center;
        position: relative;
        gap: 12px;
        cursor: pointer;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          display: block;
          width: 1px;
          height: 22px;
          background-color: $gray06;

          @include mobile {
            display: none;
          }
        }

        .profileImgWrap {
          position: relative;
          width: 32px;
          height: 32px;
          border-radius: 100px;
          margin-left: 1rem;
          overflow: hidden;

          .profile {
            object-fit: cover;
          }
        }

        .name {
          @include text(md);
          color: $black02;
        }

        .toggleDropdown {
          display: flex;
          flex-direction: column;
          @include text(sm);
          font-weight: 400;
          position: absolute;
          right: 0;
          top: 5rem;
          color: $black02;
          width: 200px;
          border-radius: 12px;
          background-color: white;
          padding: 1.5rem;
          border: 1px solid $gray06;
          box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
          text-align: center;
          gap: 0.5rem;
          @include mobile {
            top: 4rem;
          }

          a,
          button {
            width: 100%;
            color: $gray02;
            font-weight: 400;
            @include text(md);
            padding: 0.8rem 1rem;
            display: flex;
            align-items: center;
            gap: 1rem;
            transition: all 0.3s ease-in-out;
            @include mobile {
              @include text(sm);
            }

            svg {
              font-size: 2rem;
              @include mobile {
                font-size: 2rem;
              }
            }

            &:hover {
              color: $yellow01;
              background-color: $orange02;
              font-weight: 600;
              border-radius: 1rem;
            }
          }

          .logout {
            width: 100%;
            border-top: 1px solid $gray06;
            padding-top: 1rem;
            margin-top: 1rem;
          }
        }
      }
    }
  }

  .loginOff {
    display: flex;
    gap: 24px;

    a {
      color: $black02;
      @include text(md);
    }
  }
}
