.popular-section {
  padding-top: 60px;
  @include mobile {
    padding: 0 40px;
  }
}
.title {
  color: $black01;
  font-weight: bold;
  @include text(4xl);
}
.popular-list {
  padding-top: 32px;
  @include flex-between;
}
