.calendar {
  .calendar-inner {
    padding: 16px 24px;

    .title {
      color: $black01;
      font-weight: 700;
      @include text(xl);
    }

    & > button {
      margin-top: 24px;
    }
  }
}
