.social-login-container {
  padding: 3rem 0 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 2rem 0;

  &::before,
  &::after {
    content: "";
    width: 18rem;
    height: 1px;
    background-color: $gray06;

    @include mobile {
      width: 8rem;
    }
  }
}

.divider-title {
  @include text(2lg);
  color: $gray02;
  margin: 0 3.75rem;
  position: relative;
  @include mobile {
    @include text(md);
    margin: 0 1.5rem;
  }
}

.link-container {
  display: flex;
  gap: 1.6rem;

  & > a {
    @include mobile {
      width: 4.8rem;
      height: 4.8rem;
    }
  }
}
