.reservation {
  flex: 1;
  position: relative;
overflow: hidden;
}

.list-title-container {
  @include flex-between;
  margin-bottom: 2.4rem;
}

.list-title {
  @include text(3xl);
  font-weight: 600;
  color: $black01;
}
