.footer {
  width: 100%;
  background: $yellow02;
  margin-top: 120px;
  @include mobile {
    padding-bottom: 7rem;
    margin-top: 80px;
  }

  * {
    color: #fff;
    @include text(lg);
  }

  .ft-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 160px;
    padding: 32px 0;
    @include mobile {
      flex-wrap: wrap;
    }

    & > ul {
      @include flex-center;
    }

    .ft-info {
      gap: 30px;
      @include tablet {
        gap: 15px;
      }
    }

    .ft-sns {
      gap: 12px;
      @include mobile {
        flex: 1;
      }
      & > li {
        width: 20px;
      }
    }
  }
}
