.detail {
  padding: 80px 0;
  @include tablet {
    padding: 24px 0;
  }
  @include mobile {
    padding: 16px 0;
  }

  .detailInfo {
    gap: 24px;
    padding-top: 85px;
    @include flex-align-start;

    .infoWrap {
      flex: 0 0 800px;
      @include tablet {
        flex: 0 0 453px;
      }
      @include mobile {
        flex: auto;
        width: 100%;
      }
    }
  }
}
