.calendar {
  .calendar-inner {
    padding: 16px 24px;
  }
}
.fc-theme-standard td {
  border: 1px solid red;
}
.fullcalendar {
  margin: 0 15px;
  padding: 10px 27px;
  border: 1px solid #eee;
  border-radius: 8px;
  .calendarview {
    border: 0;
    > table {
      > thead {
        > tr {
          th {
          }
        }
      }
    }
    > tbody {
    }
  }
}

.selectedDate {
  border: 1px solid blue;
}

.dayheader {
  border: 1px solid green;
}
