.sub-title {
  color: $black01;
  font-weight: 700;
  @include text(2lg);
}

.fullcalendar {
  margin: 16px 15px;
  padding: 10px 27px;
  border: 1px solid #eee;
  border-radius: 8px;
  .calendarview {
    border: 0;
  }
}

.selectedDate {
  gap: 6px 12px;
  padding-top: 14px;
  flex-wrap: wrap;
  @include flex-start;

  & li {
    & button {
      padding: 10px 12px;
      border: 1px solid $yellow01;
      border-radius: 8px;
      font-weight: 500;
      @include text(lg);
    }
    & button.active {
      background: $yellow01;
      color: #fff;
    }
  }
}

.not-possible {
  padding-top: 14px;
  @include text(md);
}

.hasEvent {
  border-radius: 8px;
  background: $orange02;
}
.past {
  opacity: 0.5;
  pointer-events: none;
  color: #999;
  cursor: not-allowed;
}
