@import "mixins";

// Colors
$background: #fafafa;

$black01: #1b1b1b;
$black02: #221b11;
$gray01: #4b4b4b;
$gray02: #79747e;
$gray03: #a1a1a1;
$gray04: #a4a1aa;
$gray05: #adaeb8;
$gray06: #dddddd;
$gray07: #eeeeee;
$gray08: #fafafa;

$red01: #ff472e;
$red02: #ffc2ba;
$red03: #ffe4e0;
$orange01: #ff7c1d;
$orange02: #fff4e8;
$yellow01: #f89a05;
$yellow02: #fbaf37;
$yellow03: #ffc23d;
$green01: #00ac07;
$green02: #0b3b2d;
$green03: #ced8d5;
$mint01: #21d0c3;
$blue01: #0085ff;
$blue02: #2eb4ff;
$blue03: #e5f3ff;

.container {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  transition: all 1s ease;
  @include tablet {
    padding: 0 24px;
    @include mobile {
      padding: 0 16px;
    }
  }
}

/* 커스텀 스타일은 아래에 추가하여 사용해주세요. */
/* ----------------------- start: flex custom --------------------- */
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* ----------------------- end: flex custom ----------------------- */
