.container {
  @include tablet {
    padding-right: 0;
  }
  @include mobile {
    padding-right: 0;
  }
}

.popular-section {
  position: relative;
  margin-top: 60px;
  @include tablet {
    margin-top: 40px;
  }
}

.title {
  color: $black01;
  font-weight: bold;
  @include text(4xl);
}
